<p>location-simple works!</p>

<!-- <a-text
  value="This content will always face you."
  look-at="[gps-camera]"
  scale="40 40 40"
  gps-entity-place="latitude: 35.3365; longitude: 139.4978;"
></a-text>
<a-camera gps-camera rotation-reader> </a-camera>
</a-scene> -->

<a-scene vr-mode-ui='enabled: false' arjs='trackingMethod: best; sourceType: webcam; videoTexture: true; debugUIEnabled: false' renderer='antialias: true; alpha: true; logarithmicDepthBuffer: true;' antialias="true">
  <a-camera gps-new-camera='gpsMinDistance: 5'></a-camera>
  <a-text value="FTC" scale="30 30 40" gps-new-entity-place="latitude: 35.3365; longitude: 139.498"></a-text>
</a-scene>
